.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olImageLoadError {
  display: none !important;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent {
  font: 13px/20px Arial, sans-serif;
  color: white;
  background: linear-gradient(to bottom, #172542, #121e35);
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent .popup-title {
  text-align: center;
  font-weight: bold;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .popup-close {
  position: absolute;
  right: 7px;
  cursor: pointer;
  top: -1px;
  padding: 5px;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .popup-moreinfo {
  float: right;
  padding: 10px 15px;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .popup-footer-status {
  float: right;
  margin-right: 10px;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent .popup-footer {
  background: linear-gradient(to bottom, #ff0000, #cd0000);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -5px;
  padding: 2px;
  color: white;
  font-size: 10px;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent ul {
  background-color: white;
  color: black;
  display: table;
  padding: 0;
  width: 100%;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent ul > li {
  display: table-row;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent ul > li:nth-child(odd) {
  background: #f0f0f0;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent ul > li > span {
  display: table-cell;
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olControlLayerSwitcher .layersDiv {
  background: linear-gradient(to bottom, #172542, #121e35);
}
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent a,
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent a:hover,
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent a:visited,
.visual-PBI_CV_11DCD61D_625F_45E0_9280_A5654D735A6A_DEBUG .olPopupContent a:active {
  color: white;
}
